In [1]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [2]:
stock = pd.read_csv('Capital Dynamics - Dataset.csv',
                     nrows=0).columns.tolist()
stock = [x for x in stock if "Unnamed" not in x]
stock, len(stock)

(['AHEALTH',
  'APM',
  'BIOHLDG',
  'BSTEAD',
  'CAPITALA',
  'EUPE',
  'HPMT',
  'ICAP',
  'KGB',
  'KRONO',
  'LUXCHEM',
  'MKH',
  'OCK',
  'OCNCASH',
  'PADINI',
  'PARKSON',
  'SALUTE',
  'SAM',
  'SURIA',
  'TONGHER',
  'UTDPLT',
  'WELLCAL'],
 22)

In [3]:
df = pd.read_csv("Capital Dynamics - Dataset.csv", header=1, low_memory=False)

In [4]:
df.head()

,Date,Open,High,Low,Close,Volume,Unnamed: 6,Date.1,Open.1,High.1,...,Low.20,Close.20,Volume.20,Unnamed: 146,Date.21,Open.21,High.21,Low.21,Close.21,Volume.21
0,26/6/2000,0.3449,0.3658,0.2927,0.2968,23925000.0,NaN,15/12/1999,4.2742,4.7967,...,1.5478,1.5478,20200.0,NaN,18/7/2006,0.1956,0.2311,0.1956,0.2276,108856600.0
1,27/6/2000,0.2979,0.3909,0.2979,0.3575,42328100.0,NaN,16/12/1999,2.5171,2.5835,...,1.5478,1.5478,14400.0,NaN,19/7/2006,0.2311,0.2329,0.2098,0.2151,24898500.0
2,28/6/2000,0.3616,0.4285,0.3491,0.4223,33131200.0,NaN,17/12/1999,2.3746,2.4126,...,1.5610,1.5610,14400.0,NaN,20/7/2006,0.2187,0.2204,0.2133,0.2133,6036700.0
3,29/6/2000,0.4243,0.4724,0.4118,0.4118,31350000.0,NaN,20/12/1999,2.3746,2.4126,...,1.5610,1.5610,8600.0,NaN,21/7/2006,0.2133,0.2204,0.2133,0.2151,4100600.0
4,30/6/2000,0.3993,0.4369,0.3909,0.3930,10734400.0,NaN,21/12/1999,2.2796,2.2891,...,1.5610,1.5610,2900.0,NaN,24/7/2006,0.2169,0.2204,0.2151,0.2169,6167800.0

In [5]:
nan_columns = df.columns[df.isna().all()].tolist()

for i, col in enumerate(nan_columns):
    df[col] = stock[i]
    df.rename(columns={col: f"Stock.{i}"}, inplace=True)

In [6]:
df.head()

,Date,Open,High,Low,Close,Volume,Stock.0,Date.1,Open.1,High.1,...,Low.20,Close.20,Volume.20,Stock.20,Date.21,Open.21,High.21,Low.21,Close.21,Volume.21
0,26/6/2000,0.3449,0.3658,0.2927,0.2968,23925000.0,AHEALTH,15/12/1999,4.2742,4.7967,...,1.5478,1.5478,20200.0,UTDPLT,18/7/2006,0.1956,0.2311,0.1956,0.2276,108856600.0
1,27/6/2000,0.2979,0.3909,0.2979,0.3575,42328100.0,AHEALTH,16/12/1999,2.5171,2.5835,...,1.5478,1.5478,14400.0,UTDPLT,19/7/2006,0.2311,0.2329,0.2098,0.2151,24898500.0
2,28/6/2000,0.3616,0.4285,0.3491,0.4223,33131200.0,AHEALTH,17/12/1999,2.3746,2.4126,...,1.5610,1.5610,14400.0,UTDPLT,20/7/2006,0.2187,0.2204,0.2133,0.2133,6036700.0
3,29/6/2000,0.4243,0.4724,0.4118,0.4118,31350000.0,AHEALTH,20/12/1999,2.3746,2.4126,...,1.5610,1.5610,8600.0,UTDPLT,21/7/2006,0.2133,0.2204,0.2133,0.2151,4100600.0
4,30/6/2000,0.3993,0.4369,0.3909,0.3930,10734400.0,AHEALTH,21/12/1999,2.2796,2.2891,...,1.5610,1.5610,2900.0,UTDPLT,24/7/2006,0.2169,0.2204,0.2151,0.2169,6167800.0

In [7]:
stock_df = {}
stock_counter = 0
stock_col = 7

for i, s in enumerate(stock):
    stock_df[s] = df[df.columns[stock_counter:stock_counter + stock_col]]
    stock_counter += stock_col
    
    # rename the column name
    stock_df[s].columns = stock_df[s].columns.str.replace(f'.{i}', '')
    
    # remove all nan row
    stock_df[s].dropna(subset= ['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], how="all", inplace=True)
    stock_df[s].reset_index(drop=True, inplace=True)
    
    # change the date to datetime format
    stock_df[s]['Date'] = pd.to_datetime(stock_df[s]['Date'])

stock_df['WELLCAL']['Stock'] = "WELLCAT"

In [8]:
df: pd.DataFrame = pd.DataFrame()

for i, s in enumerate(stock_df):
    df = df.append(stock_df[s], ignore_index=True)

In [9]:
df

            Date    Open    High     Low   Close      Volume    Stock
0     2000-06-26  0.3449  0.3658  0.2927  0.2968  23925000.0  AHEALTH
1     2000-06-27  0.2979  0.3909  0.2979  0.3575  42328100.0  AHEALTH
2     2000-06-28  0.3616  0.4285  0.3491  0.4223  33131200.0  AHEALTH
3     2000-06-29  0.4243  0.4724  0.4118  0.4118  31350000.0  AHEALTH
4     2000-06-30  0.3993  0.4369  0.3909  0.3930  10734400.0  AHEALTH
...          ...     ...     ...     ...     ...         ...      ...
93270 2022-05-25  1.2100  1.2100  1.2000  1.2000    170900.0  WELLCAT
93271 2022-05-26  1.2000  1.2100  1.2000  1.2100    130400.0  WELLCAT
93272 2022-05-27  1.2200  1.2200  1.2000  1.2100     71000.0  WELLCAT
93273 2022-05-30  1.2100  1.2200  1.2000  1.2100    191600.0  WELLCAT
93274 2022-05-31  1.2200  1.2500  1.2100  1.2500    275700.0  WELLCAT

[93275 rows x 7 columns]

In [10]:
df.to_csv("main.csv")

In [13]:
for s in stock_df:
    stock_df[s].to_csv(f"./stock/{s}.csv")